/* Applies to all pages */

* {
    margin: 0;
    padding: 0;  
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

*::selection {
    background-color: var(--primary-color);
    color: var(--white-color);
}

html {
    font-size: 62.5%;
}
